.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25rem; /* Adjust this value to your preference */
  width: 100%;
  height: 0.1rem; /* Border thickness */
  background-color: transparent; /* Initial transparent border */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.nav-link:hover::after {
  background-color: #000; /* Change to your desired border color on hover */
}
